<?xml version="1.0"?>
<config>
    <modules>
        <Veeqo_Bridge>
            <version>0.1.3</version>
        </Veeqo_Bridge>
    </modules>
    <admin>
        <routers>
            <veeqo>
                <use>admin</use>
                <args>
                    <module>Veeqo_Bridge</module>
                    <frontName>veeqo</frontName>
                </args>
            </veeqo>
        </routers>
    </admin>
    <adminhtml>
		<layout>
			<updates>
				<veeqo>
					<file>veeqo.xml</file>
				</veeqo>
			</updates>
		</layout>
        <translate>
            <modules>
                <Veeqo_Bridge>
                    <files>
                        <default>Veeqo_Bridge.csv</default>
                    </files>
                </Veeqo_Bridge>
            </modules>
        </translate>
    </adminhtml>
    <global>
        <helpers>
            <veeqo>
                <class>Veeqo_Bridge_Helper</class>
            </veeqo>
        </helpers>
        <blocks>
            <veeqo>
                <class>Veeqo_Bridge_Block</class>
            </veeqo>
        </blocks>
        <models>
            <veeqo>
                <class>Veeqo_Bridge_Model</class>
            </veeqo>
        </models>
        <resources>
            <veeqo_setup>
                <setup>
                    <module>Veeqo_Bridge</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </veeqo_setup>
            <veeqo_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </veeqo_write>
            <veeqo_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </veeqo_read>
        </resources>
    </global>
    <default>
        <veeqo>
    		<general>
                <validation_url>http://app.veeqo.com/channels/magento_webhook</validation_url>
    		</general>
        </veeqo>
	</default>
</config>